In [1]:
#Function 1:

def data_s(i,f,s,t,l,d,b):
  print(f"The integer is {i}  ,  The Float is {f}   ,  The string is {s}  , The Tuple is {t}   , The List is {l}   ,  The Dict is {d}    ,  The Boolean is {b}   ")


data_s(1,2.3,'an',('a','b','c'),[1,'bc','cd'],{'name':'Anand','age':'23'},True)

The integer is 1  ,  The Float is 2.3   ,  The string is an  , The Tuple is ('a', 'b', 'c')   , The List is [1, 'bc', 'cd']   ,  The Dict is {'name': 'Anand', 'age': '23'}    ,  The Boolean is True

In [3]:
#Function 2:


def dict_1(l):
  for i,j in enumerate(l):
    print(i,'-->'+l[j])

dict_1({'1':'Anand','2':'Age','3':'Loaction','4':'Qualification'})

0 -->Anand
1 -->Age
2 -->Loaction
3 -->Qualification

In [6]:
#Function 3:


def new_1(a,b):
   xyz=list()
   xyz=[a,b]
   print(xyz)
   print(type(xyz))


new_1(1,2)

[1, 2]
<class 'list'>